html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    margin:20vh auto;  
    border:5px solid black;     
    width: 300px; 
}

.caja{
    width:100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:white;
}

.caja-1{
    background-color: #FF6961;
}

.caja-2{
    background-color: #77dd77;
}

.caja-3{
    background-color: #E79EFF;
}

.caja-4{
    background-color: #84B6F4;
}

.caja-5{
    background-color: #EE7F41;
}

.caja-6{
    background-color: #5E704A;
}


